<%- include('header') %>

<div class="container">
  <h1 class="white-text">Saurav</h1>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZykI6c-2NyUM4eCPJUGB_mnkyIl2Elng&callback=initMap"
       async defer></script>
<%- include('footer') %>
