<%- include('header') %>

<div class="container">
  <!-- <h1 style="text-align:center;color:white;" class="animated fadeInLeft">TumHap</h1> -->
  <img src="tumhap2.png" class=" center-block animated fadeInLeft" width="400px"/>
  <p id="des" style="text-align:center; color:white;">For a Happy Tummy</p>
  <!-- <img src="chef.jpeg" alt="chef" />

			<div class="row">
		 		<div class="col s4">
					<div class="card-panel z-depth-3 circle" style="text-align: center;" id="administrator">
					  	<span >
					  		<a href="/administrator">Administrator</a>
					  	</span>
					</div>
		  		</div>
		  		<div class="col s4">
		  			<div class="card-panel z-depth-3 circle" style="text-align: center;" id="users">
					  	<span >
					  		<a href="/users">Users</a>
					  	</span>
					</div>
		  		</div>
		  		<div class="col s4">
		  			<div class="card-panel z-depth-3 circle" style="text-align: center;" id="resturant">
					  	<span>
					  		<a href="/franchise">Franchise</a>
					  	</span>
					</div>
		  		</div>
			</div> -->
      <br />
      <div class="row">
        <div class="col s6">
          <img src="cheftra.png" width="400px"/>
        </div>
        <div class="col s6">
          <div class="row">
            <div class="card-panel z-depth-3 circle animated fadeInDown" style="text-align: center;" id="administrator">
  					  	<span >
  					  		<a href="/administrator">Administrator</a>
  					  	</span>
  					</div>
          </div>
          <br />
          <div class="row">
            <div class="card-panel z-depth-3 circle animated fadeInDown" style="text-align: center;" id="users">
					  	<span >
					  		<a href="/users">Users</a>
					  	</span>
					</div>
          </div>
          <br />
          <div class="row">
            <div class="card-panel z-depth-3 circle animated fadeInDown" style="text-align: center;" id="resturant">
					  	<span>
					  		<a href="/franchise">Franchise</a>
					  	</span>
					</div>
          </div>
        </div>
      </div>
      <div class="row white-text">
        <div class="col s4 center">
          <h5>Customer Reviews</h5><br />
          <blockquote>This is the best app I have seen very efficient</blockquote>
          <blockquote>Very Fast. NIce Service</blockquote>
          <blockquote>Cool APp , fast delievery</blockquote>

        </div>
        <div class="col s4 center">
          <h5>Socialize</h5>
          <br  />
            <ul>
              <li><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></li>
              <li><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></li>
              <li><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></li>
              <li><i class="fa fa-github fa-3x" aria-hidden="true"></i></li>
            </ul>

        </div>
        <div class="col s4">
          <h5>Send Feedback</h5>
          <br />
          <h5>Your Name:</h5>
          <textarea rows="7" cols="30">
          At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
          </textarea>
        </div>
      </div>
</div>
<a href="/index2">Go here</a>
<a href="/userform">userform</a>


<%- include('footer') %>
